
@{
    Layout = null;
    if(Session["uId"]==null)
    {
        Response.Redirect("~/userSignin");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div>

        <h1>Dashboard</h1>
        <h3>Username: @Session["uName"].ToString()</h3>
        <a href="@Url.Action("Logout,Login")">Logout</a>
    </div>
       

   
</body>
</html>

